extends ../layoutForm

block content
    h3= "Enter your details and click next"
    
    form(method='POST' action='')
        
        fieldset(name='client_details')
            legend Client Details
            
            label(for='client_first_name' class='label') First name:
            input#name.form-control(type='text', placeholder='First name', name='client_first_name', value=(undefined===client ? '' : client.client_details.client_first_name))
                
            label(for='client_last_name' class='label') Last name:
            input#name.form-control(type='text', placeholder='Last name', name='client_last_name', value=(undefined===client ? '' : client.client_details.client_last_name))
                
            label(for='client_email' class='label') Email:
            input#name.form-control(type='email', placeholder='someone@example.co.nz', name='client_email', value=(undefined===client ? '' : client.client_details.client_email))
                
            label(for='client_phone' class='label') Phone:
            input#name.form-control(type='tel', placeholder='02040636902', name='client_phone', value=(undefined===client ? '' : client.client_details.client_phone))
                
        button(type='submit', name='next' class="btn" id="btn-next") Next
    
    if errors
        ul
            for error in errors
                li!= error.msg
                
    script(type="text/javascript", src="/controllers/publishController.js")           
