extends ../layoutForm

block content
    h3 First we need to get some details about you and your business   
    p This information is used to populate the contact us section of your website
    
    a(href="/details/client", name='next' class="btn" id="btn-next") Next
          
