doctype html
html
  head
      title= title
      link(rel='stylesheet', href='/stylesheets/layout.css')
  body
      img(
        src="/images/logo-459x100.png",
        alt="The Your Trade Site Logo",
        class="logo-img"
      )
      h1 Welcome to Your Trade Site
      block content
  
