extends layout

block content
  
  div
      a(href="/auth/github" class="btn btn-dark") Sign in with GitHub
  div
      a(href="/auth/facebook" class="btn btn-primary") Sign in with Facebook
      


  
