body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: grid;
  grid-gap: 10px;
  justify-items: center;
}

a {
  color: #00B7FF;
}

button {
    margin: 10px;
}

.logo-img {
    max-width: 70%;
}

.btn {

}
